.mainhero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
}

.mainhero__logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.cta {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.buttonorder {
  height: 50px;
  width: 300px;
  font-size: x-large;
  background-color: var(--coal);
  border-radius: 4px;
  color: var(--ash);
}

.aboutus {
  display: flex;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  padding: 0 0.3rem;
}

.aboutus__info {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  color: var(--coal);
}
